/* ManagerPage.css */
.user-list-page {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: var(--background-color);
	align-items: center;

	h2 {
		font-size: 1.5rem;
		color: var(--text-primary-color);
		text-align: center;
	}
}

.user-list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 40vw;


	.user-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;
		margin-bottom: .5rem;
		border-radius: 2rem;

		&:hover {
			background-color: #f1f1f1;
		}

		input[type="checkbox"] {
			margin-right: 1rem;
			width: 1.25rem;
			height: 1.25rem;
			cursor: pointer;
			border-radius: 1rem;
		}

		span {
			font-size: 1rem;
			z-index: 1;
			color: var(--blue-color);
			flex-grow: 1;
			transition: color 0.2s;

			&:hover {
				color: var(--light-blue-color);
				text-decoration: underline;
			}
		}
	}
}

.export-buttons {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	gap: 2rem;
}