:root {
    --background-color: #F6F5F5;
    --container-color: #fbfbfb;
    --container-border-color: #ccc;
    --container-border: 1px solid var(--container-border-color);

    --primary-text-color: #333;
    --secondary-text-color: #666;

    --light-blue-color: #3498db;
    --blue-color: #295F98;
    --button-bg-color-hover: #0f4681;
}