/* src/UserHomePage.css*/
.homepage-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background-color: var(--background-color);

	.content-container {
		display: flex;
		justify-content: center;
		padding: 2rem 5rem 1rem 5rem;
	}

	.left-sidebar {
		min-width: fit-content;
		margin-top: 1rem;
		padding: 3rem;
		text-align: center;
		height: fit-content;

		h3 {
			font-size: 1.125rem;
			margin-top: 1rem;
			color: var(--primary-text-color);
			margin-bottom: 0.2rem;
		}
	}

	.main-content {
		padding: 1rem;

		.filename-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;

			img {
				width: 1rem;
				height: 1rem;
				margin-right: .5rem;
			}

			p {
				word-wrap: break-word;
				overflow: hidden;
				text-overflow: ellipsis;
				color: var(--primary-text-color);
				flex: 1;
			}
		}
	}

}

.post-container {
	width: 40vw;
	margin-bottom: 2rem;

	.media-upload {
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		margin-top: 0.5rem;
	}
	
	.post-user-container {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	.post-actions {
		display: flex;
		gap: 1rem;
		margin-top: .5rem;
	}

	.post-body {
		border-bottom: 1px solid #999999;
	}
}
